@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* For Firefox Browser */
  .scrollbar {
    scrollbar-width: thin;
  }

  /* For Chrome, EDGE, Opera, Others */
  .scrollbar::-webkit-scrollbar {
    width: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: #fff;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #000;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
