@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-\*: initial;
	--color-transparent: transparent;
	--color-black: #121212;
	--color-white: #f2f2f2;
	--color-green: #1ed760;
	--color-blue: #3772ff;
	--color-hover-blue: #0550ff;
	--color-disabled-grey: #808080;
	--color-sub-text-light: #4d4d4d;
	--color-sub-text-dark: #b3b3b3;
	--default-font-family: "Roboto"
}


/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentcolor);
	}
	
	img{
		@apply flex items-center justify-center
	}

	h1{
		@apply font-semibold text-3xl text-black dark:text-white
	}

	h2{
		@apply font-semibold text-xl text-black dark:text-white
	}

	p{
		@apply text-black dark:text-white
	}
	
	a{
		@apply text-black dark:text-white hover:underline
	}
}

@layer components {
	.flat-icon {
		@apply fill-sub-text-light group-hover:fill-black dark:fill-sub-text-dark group-hover:dark:fill-white
	}
	.sub-text {
		@apply text-sub-text-light dark:text-sub-text-dark
	}
}

@utility scrollbar {
	/* For Firefox Browser */
	scrollbar-width: thin;

	/* For Chrome, EDGE, Opera, Others */
	&::-webkit-scrollbar {
		width: 20px;
	}

	&::-webkit-scrollbar-track {
		background: #fff;
	}

	&::-webkit-scrollbar-thumb {
		background: #000;
	}
}

@utility no-scrollbar {
	/* Hide scrollbar for Chrome, Safari and Opera */
	&::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
